table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid orange;
}

th, td {
  padding: 5px;
  border: 1px solid orange;
}

.modifySelect {
  padding: 2px;
}

.buttonContainer {
  background-color: white;
  width: 200px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
  top: 0;
  padding: 5px;
}