
.item {
  background-color: rgb(255, 238, 220);
  margin: 4px;
  padding: 4px;
}

.header {
  display:flex;
  flex-direction: row;;
  
}

.userDetails {
  background-color: rgb(254, 223, 191);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 
.drawer {
  display: flex;
  flex-direction: column;
}